/* main */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: #3d3d3d;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 310px;
  margin: 20px auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
}
